{% extends 'TM_template/Admin/Base.html' %}
{% load staticfiles %}
{% block titleblock %}
Master Property List
{% endblock %}
{% block bodyblock %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'adminhome' %}"><i class="icon-home"></i> Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">Master Property</li>
                    </ul>
                    <h2>Master Property</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal">

  <!-- Modal content -->

  <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Property</h4>
          </div>
          <div class="modal-body">
                <input type="hidden" id='id'>
                Address : <input type="text" disabled id="pr_address" /></br>
                Clone : <input type="text" disabled id="pr_clone" /></br>
                Status : <input type="text" disabled id="pr_status" /></br>
                Deposite : <input type="text" class='decimal_input' id='pr_deposite' ></br>
                Rent : <input class='decimal_input' type="text" id='pr_rent'/></br>
                Description : <input type='text' id='pr_description'>
                </br>
          </div>
          <div class="modal-footer">
                <button class="btn btn-info btn-rounded " id="save">Save</button>
                <button class="btn btn-danger btn-rounded " id="close">Cancel</button>
          </div>
        </div>
    
      </div>

  
</div>

<section id="container">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div style="background-image: url('images/bg-01.jpg');">
                    <div>

                        {% if master_property_list %}
                        <table class="table fixed_header">
                            <thead>
                            <tr class="success">
                                <th>Name</th>
                                <th colspan='2'>Address</th>
                                <th colspan='2'>Detail</th>
                                <th>No of Clones</th>
                                <th>Alloacted clones</th>
                                <th>Unallocated clones</th>
                                <th>No of properties</th>
                                <th>Alloacted properties</th>
                                <th>Unallocated properties</th>
                                <th>Sold</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in master_property_list %}
                                <tr>
                                    
                                    <td>{{ property.msp_name}} </td>
                                    <td colspan='2'>{{ property.msp_address }}</td>
                                    <td colspan='2'>{{ property.msp_description }}</td>
                                    <td>{{ property.no_of_clones }}   <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="all_clones"><i class="icon-angle-down"></i></a></td>
                                    <td>{{ property.allocated_clones }}   <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="allocated_clones"><i class="icon-angle-down"></i></a></td>
                                    <td>{{ property.unallocated_clones  }}  <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="unallocated_clones"><i class="icon-angle-down"></i></a></td>
                                    <td>{{ property.no_of_property }}   <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="all_properties"><i class="icon-angle-down"></i></a></td>
                                    <td>{{ property.allocated_properties}}   <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="allocated_properties"><i class="icon-angle-down"></i></a></td>
                                    <td>{{ property.unallocated_properties }}  <a class="show_data" data-id="{{property.id}}" data-hidden="1" data-act="unallocated_properties"><i class="icon-angle-down"></i></a> </td>
                                    <td><input type="button" class="delete_master btn-danger btn-rounded" data-id="{{ property.id }}"  value="Sold"></td>
                                </tr>
                                {% autoescape off %}
                                    <tr id="tr{{ property.id }}"  class="accordion-body collapse hidden" style="height: max-content;">
                                        <td id="td{{ property.id }}"  colaspan = 9>
                                        
                                        </td>
                                    </tr>
                                {% endautoescape %}

                            {% endfor %}
                            </div>
                        </tbody>
                        </table>
                       
                        {% else %}
                        <strong>No new Requests.</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}